################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1/FileContentIndex/7af1e7a9-52af-45bb-9e66-e3ab4f258b8d.vsidx
/WebApplication1/.vs/WebApplication1/FileContentIndex/9aede4f7-6dfd-4c50-be4b-3220f01dd49f.vsidx
/WebApplication1/.vs/WebApplication1/FileContentIndex/c8aae59f-fba1-4f93-be73-d3767a16bc73.vsidx
/WebApplication1/.vs/WebApplication1/FileContentIndex/d5bca3d3-794a-4ba5-9b04-1b6aa16b5e52.vsidx
